
  <ul class='nav navbar-nav'>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/home']">
        <span class='glyphicon glyphicon-home'></span> Home
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/Login']">
        <span class='glyphicon glyphicon-education'></span> Login
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/Register']">
        <span class='glyphicon glyphicon-education'></span> Register
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/personal']">
        <span class='glyphicon glyphicon-education'></span> Personal
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/Profile']">
        <span class='glyphicon glyphicon-education'></span> Profile
      </a>
    </li>
  </ul>

