
/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
.column-layout {
  max-width: 100%;
  max-height:100%;
  margin: 0 auto 0 auto;
 
}

@media(min-width:500px){
  .column-layout {
    display: flex;
    justify-content: space-between;
  }
}



.col-menu {
  flex: 1;
  background-color: bisque;
  box-sizing: border-box;
  flex-basis:20%;
  
}

.col-all {
  padding: 10px;
  margin-bottom: 10px;
  width:32%;
}

.col-content {
  padding: 0px 5px 5px 5px;
  flex: 9;
  background-color: burlywood;
  max-height: 1000px;
  flex-basis: 75%;
  margin:0px 0px 0px 10px;
}
